<style>
	collapse {
		display: block;
		margin: 0 -2em;
		padding: .5em 2em;
		border-top: 1px solid rgba(0, 0, 0, .25);
		border-bottom: 1px solid rgba(0, 0, 0, .25);

		transition: background-color .25s;
		-moz-transition: background-color .25s;
		-webkit-transition: background-color .25s;
	}

	collapse.active {
		background-color: #DCE3E8;
	}

	collapse > div {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s;
	}

	collapse > *:not(div) {
		cursor: pointer;
	}

	collapse > *:not(div)::after {
		content: '+';
		float: right;
	}

	collapse.active > *:not(div)::after {
		content: '-';
	}
</style>

<script type="text/javascript">
	addOnLoad(function() {
		let elements = document.getElementsByTagName("collapse");
		for (let i = 0; i < elements.length; i++) {
			elements[i].children[0].addEventListener("click", function() {
				this.parentElement.classList.toggle("active");
				let content = this.parentElement.getElementsByTagName("div")[0];
				if (content.style.maxHeight)
					content.style.maxHeight = null;
				else content.style.maxHeight = content.scrollHeight + "px";
			});
		}
	});
</script>
