<script type="text/javascript">
	const _loadingFunctions = [];
	const _elementFunctions = {};

	function addOnLoad(func) {
		_loadingFunctions.push(func);
	}

	function addOnElement(thing, func) {
		if (!_elementFunctions[thing])
			_elementFunctions[thing] = [];
		
		_elementFunctions[thing].push(func);
	}

	window.onload = function() {
		for (let i = 0; i < _loadingFunctions.length; i++) {
			_loadingFunctions[i]();
		}
	};

	function onElement(element) {
		if (_elementFunctions[element.tagName]) {
			for (let i = 0; i < _elementFunctions[element.tagName].length; i++) {
				_elementFunctions[element.tagName][i](element);
			}
		}
	}
</script>

{% include collapse.html %}
{% include checkbox.html %}
